{% extends 'base.html.twig' %}

{#
Jeśli masz problemy z tym artykułem w postaci twig, możesz zobaczyć kod HTML tutaj: 
https://github.com/shkredo/CMS
https://shkredo.github.io/CMS/detail.html
#}

{% block head %}
	<!-- Font-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
	<!-- Style Main -->
	<link rel="stylesheet" href="css/main.css">
	<!-- Style Media -->
	<link rel="stylesheet" href="css/media.css">
	<!-- Style Reset -->
	<link rel="stylesheet" href="css/reset.css">
{% endblock %}

{% block content %}
    <section>
        <div class="wrapper columns">
            <div class="main">
                <h1 class="main__header">header</h1>
                <div class="main__articles-wrapper">
                    <ul class="main__articles-list">
						{% for _post in post %}
							<li class="main__articles-item">
								<div class="main__single-article">
									<a href="detail.html" class="article__link">  <img src="{{ '/image/' ~ _post.thumbnail }}"></a>
									<article class="article">
										<h2 class="article__title">
											{{ _post.title }}
										</h2>
										<p class="article__lead">
											{{ _post.car.name }}
										</p>
										<div class="artile__meta">
											<div class="article__author">
											   {{ _post.user }}
											</div>
											<div class="article__date">
												{{ _post.date | date("y-m-d")}}
											</div>
										</div>
									</article>
								</div>
							</li>
						{% endfor %}
                    </ul>
                </div>
            </div>
            <div class="right-column">
            </div>
        </div>
    </section>
{% endblock %}
