{% extends 'base.html.twig' %}

{% block head %}
	<!-- Font-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
	<!-- Style Main -->
	<link rel="stylesheet" href="main.css">
	<!-- Style Media -->
	<link rel="stylesheet" href="media.css">
	<!-- Style Reset -->
	<link rel="stylesheet" href="reset.css">
{% endblock %}

{% block body %}
    <header>
        <div class="wrapper">
            <div class="logo">
                <h1>
                    <a href="/">{{ logo }}</a>
                </h1>
            </div>
            <div class="nav">
                <div class="navigation__element"><a href="list.html">{{ List }}</a></div>
                <div class="navigation__element"><a href="">{{ link 2 }}</a></div>
                <div class="navigation__element"><a href="">{{ link 3 }}</a></div>
                <div class="navigation__element"><a href="">{{ link 4 }}</a></div>
                <div class="navigation__element"><a href="">{{ link 5 }}</a></div>
            </div>
        </div>
    </header>
    <section>
        <div class="wrapper columns">
            <div class="main">
                <h1 class="main__header">{{ header }}</h1>
                <div class="main__articles-wrapper">
                    <ul class="main__articles-list">
						{% for car in cars %}
							<li class="main__articles-item">
								<div class="main__single-article">
									<a href="detail.html" class="article__link"> <img src={{ car.image }} alt=""></a>
									<article class="article">
										<h2 class="article__title">
											{{ car.title }}
										</h2>
										<p class="article__lead">
											{{ car.lead }}
										</p>
										<div class="artile__meta">
											<div class="article__author">
											   {{ car.author }}
											</div>
											<div class="article__date">
												{{ car.date }}
											</div>
										</div>
									</article>
								</div>
							</li>
						{% endfor %}
                    </ul>
                </div>
            <div class="pagination">
                <ul class="pagination__list">
                    <li class="pagination__element pagination__current"> <span>{{ 1 }}</span></li>
                    <li class="pagination__element"><a href="">{{ 2 }}</a></li>
                    <li class="pagination__element"><a href="">{{ 3 }}</a></li>
                    <li class="pagination__element"><a href="">{{ 4 }}</a></li>
                    <li class="pagination__element"><a href="">{{ 5 }}</a></li>
                    <li class="pagination__element"><a href="">{{ 6 }}</a></li>
                </ul>
            </div>
            </div>
            <div class="right-column">
                <h1 class="main__header">{{ rightHeaderColumn }}</h1>
				{% for rightElement in carDetail.rightElements %}
					<div class="right-column__element">{{ rightElement }}</div>
				{% endfor %}
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="wrapper">
            <h1>{{ footer }}</h1>
        </div>
    </footer>
</body>
{% endblock %}