{% extends 'base.html.twig' %}

{% block head %}
	<!-- Font-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
    <header>
        <div class="wrapper">
            <div class="logo">
                <h1>
                    <a href="/">{{ logo here }}</a>
                </h1>
            </div>
            <div class="nav">
                <div class="navigation__element"><a href="list.html">{{ List }}</a></div>
                <div class="navigation__element"><a href="">{{ link 2 }}</a></div>
                <div class="navigation__element"><a href="">{{ link 3 }}</a></div>
                <div class="navigation__element"><a href="">{{ link 4 }}</a></div>
                <div class="navigation__element"><a href="">{{ link 5 }}</a></div>
            </div>
        </div>
    </header>
    <section>
        <div class="wrapper columns">
            <div class="main">
                <h1 class="main__header">{{ Samochody header }}</h1>
                <div class="main__articles-wrapper">
                    <ul class="main__articles-list">
                        <li class="main__articles-item">
                            <div class="main__single-article">
                                <a href="detail.html" class="article__link"> <img src={{ "https://bi.im-g.pl/im/33/44/18/z25445683II,Tesla-Cybertruck.jpg" }} alt=""></a>
                                <article class="article">
                                    <h2 class="article__title">
                                        {{ Cool title }}
                                    </h2>
                                    <p class="article__lead">
                                        {{ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget lacus diam. Nam nec velit ultrices risus viverra commodo. Praesent egestas, nunc eu malesuada malesuada, leo nulla tincidunt ex, sed tempus nibh ipsum id purus. Nulla urna tortor, efficitur a ante sit amet, tincidunt pulvinar erat. Donec in scelerisque risus. Cras tempus tempus arcu, at scelerisque mauris mattis id. }}
                                    </p>
                                    <div class="artile__meta">
                                        <div class="article__author">
                                           {{ Artur Shkred }}
                                        </div>
                                        <div class="article__date">
                                            {{ 01.01.2020 }}
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </li>
                        <li class="main__articles-item">
                            <div class="main__single-article">
                                <a href="detail.html" class="article__link"> <img src= {{ "https://bi.im-g.pl/im/33/44/18/z25445683II,Tesla-Cybertruck.jpg" }} alt=""></a>
                                <article class="article">
                                    <h2 class="article__title">
                                        {{ Cool title }}
                                    </h2>
                                    <p class="article__lead">
                                        {{ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget lacus diam. Nam nec velit ultrices risus viverra commodo. Praesent egestas, nunc eu malesuada malesuada, leo nulla tincidunt ex, sed tempus nibh ipsum id purus. Nulla urna tortor, efficitur a ante sit amet, tincidunt pulvinar erat. Donec in scelerisque risus. Cras tempus tempus arcu, at scelerisque mauris mattis id. }}
                                    </p>
                                    <div class="artile__meta">
                                        <div class="article__author">
                                            {{ Artur Shkred }}
                                        </div>
                                        <div class="article__date">
                                           {{ 01.01.2020 }}
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </li>
                        <li class="main__articles-item">
                            <div class="main__single-article">
                                <a href="detail.html" class="article__link"> <img src={{ "https://bi.im-g.pl/im/33/44/18/z25445683II,Tesla-Cybertruck.jpg" }} alt=""></a>
                                <article class="article">
                                    <h2 class="article__title">
                                       {{ Cool title }}
                                    </h2>
                                    <p class="article__lead">
                                       {{ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget lacus diam. Nam nec velit ultrices risus viverra commodo. Praesent egestas, nunc eu malesuada malesuada, leo nulla tincidunt ex, sed tempus nibh ipsum id purus. Nulla urna tortor, efficitur a ante sit amet, tincidunt pulvinar erat. Donec in scelerisque risus. Cras tempus tempus arcu, at scelerisque mauris mattis id. }}
                                    </p>
                                    <div class="artile__meta">
                                        <div class="article__author">
                                            {{ Artur Shkred }}
                                        </div>
                                        <div class="article__date">
                                            {{ 01.01.2020 }}
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </li>
                        <li class="main__articles-item">
                            <div class="main__single-article">
                                <a href="detail.html" class="article__link"> <img src={{ "https://bi.im-g.pl/im/33/44/18/z25445683II,Tesla-Cybertruck.jpg" }} alt=""></a>
                                <article class="article">
                                    <h2 class="article__title">
                                        {{ Cool title }}
                                    </h2>
                                    <p class="article__lead">
                                        {{ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget lacus diam. Nam nec velit ultrices risus viverra commodo. Praesent egestas, nunc eu malesuada malesuada, leo nulla tincidunt ex, sed tempus nibh ipsum id purus. Nulla urna tortor, efficitur a ante sit amet, tincidunt pulvinar erat. Donec in scelerisque risus. Cras tempus tempus arcu, at scelerisque mauris mattis id. }}
                                    </p>
                                    <div class="artile__meta">
                                        <div class="article__author">
                                           {{ Artur Shkred }}
                                        </div>
                                        <div class="article__date">
                                            {{ 01.01.2020 }}
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </li>
                    </ul>
                </div>
            <div class="pagination">
                <ul class="pagination__list">
                    <li class="pagination__element pagination__current"> <span>{{ 1 }}</span></li>
                    <li class="pagination__element"><a href="">{{ 2 }}</a></li>
                    <li class="pagination__element"><a href="">{{ 3 }}</a></li>
                    <li class="pagination__element"><a href="">{{ 4 }}</a></li>
                    <li class="pagination__element"><a href="">{{ 5 }}</a></li>
                    <li class="pagination__element"><a href="">{{ 6 }}</a></li>
                </ul>
            </div>
            </div>
            <div class="right-column">
                <h1 class="main__header">{{ Right header column }}</h1>
                <div class="right-column__element">{{ right element 1 }}</div>
                <div class="right-column__element">{{ right element 2 }}</div>
                <div class="right-column__element">{{ right element 3 }}</div>
                <div class="right-column__element">{{ right element 4 }}</div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="wrapper">
            <h1>{{ footer }}</h1>
        </div>
    </footer>
</body>
{% endblock %}