{% extends'base.html.twig' %}

{% block content %}
<div class="allcontain">
	<div class="contact">
		<div class="newslettercontent">
			<div class="leftside">
					<div class="contact-form">
						<br>
						<br>
						<br>
						<br>
						<br>
						{% for message in app.flashes('success') %}
							<div class="alert alert-success">
								{{ message }}
							</div>
						{% endfor %}
						<h1>Contact Us</h1>
							<div class="form-group group-coustume">
								{{ form_start(form) }}
								{{ form_widget(form.email,
									{	'attr' :
										{
											'class' : 'form-control email-form',
											'placeholder' : 'E-mail'
										}
									}) }}
								{{ form_widget(form.subject,
									{	'attr' :
										{
											'class' : 'form-control subject-form',
											'placeholder' : 'Subject'
										}
									}) }}
								{{ form_widget(form.content,
									{	'attr' :
										{
											'class' : 'message-form',
											'rows' : '4',
											'cols' : '50'
										}
									}) }}
								<button type="submit" class="btn btn-default btn-submit">Submit</button>
								{{ form_end(form) }}
							</div>
					</div>
			</div>
			<div class="google-maps">
			 <div id="googleMap"></div>

			</div>
		</div>

	</div>
</div>

<script src="http://maps.googleapis.com/maps/api/js"></script>
<script>

var myCenter=new google.maps.LatLng(41.567197,14.681526);

function initialize()
{
var mapProp = {
  center:myCenter,
  zoom:16,
  mapTypeId:google.maps.MapTypeId.ROADMAP
  };

var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

var marker=new google.maps.Marker({
  position:myCenter,
  });

marker.setMap(map);
}



</script>

<script type="text/javascript" src="source/bootstrap-3.3.6-dist/js/jquery.js"></script>
<script type="text/javascript" src="source/js/myscript.js"></script> <script type="text/javascript" src="source/bootstrap-3.3.6-dist/js/bootstrap.js"></script>

<script>
	$(window).resize(function(){
		var new_height = $("#image_border").height();
		console.log(new_height);
		$("#googleMap").height(new_height);
	});

	$(window).load(function(){
		var new_height = $("#image_border").height();
		console.log(new_height);
		$("#googleMap").height(new_height);
		google.maps.event.addDomListener(window, 'load', initialize());
	});
	
</script>
<script type="text/javascript" src="source/js/myscript.js"></script>
<script type="text/javascript" src="source/bootstrap-3.3.6-dist/js/jquery.1.11.js"></script>
{% endblock %}