{% extends'base.html.twig' %}

{% block content %}

<!--_______________________________________ Carousel__________________________________ -->
<div class="allcontain">
	{% for message in app.flashes('success') %}
		<br>
		<br>
		<br>
		<br>
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	<div id="carousel-up" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner " role="listbox">
			<div class="item active">
				<img src="{{ '/image/' ~ image1 }}" height="300" width="1365">
				<div class="carousel-caption">
					<h2>{{ name1 }}</h2>
				</div>
			</div>
			<div class="item">
				<img src="{{ '/image/' ~ image2 }}" height="300" width="1365">
				<div class="carousel-caption">
					<h2>{{ name2 }}</h2>

				</div>
			</div>
			<div class="item">
				<img src="{{ '/image/' ~ image3 }}" height="300" width="1365">
				<div class="carousel-caption">
					<h2>{{ name3 }}</h2>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-default midle-nav">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed textcostume" data-toggle="collapse" data-target="#navbarmidle" aria-expanded="false">
						<h1>SEARCH TEXT</h1>
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="navbarmidle">
				<div class="searchtxt">
					<h1>SEARCH TEXT</h1>
				</div>
				{{ form_start(searchForm) }}
					<div class="form-group">
						{{ form_widget(searchForm.srchText,
							{	'attr' :
								{
									'class' : 'form-control searchform',
									'placeholder' : 'Enter Keyword'
								}
							}) }}
					</div>
				<ul class="nav navbar-nav navbarborder">
					<li class="li-category">
						{{ form_widget(searchForm.mark,
							{	'attr' :
								{
									'class' : 'btn  dropdown-toggle btn-costume',
									'id' : 'dropdownMenu2',
									'data-toggle' : 'dropdown',
									'aria-haspopup' : 'true',
									'aria-expanded' : 'true'
								}
							}) }}
					</li>
					<li class="li-category">
						{{ form_widget(searchForm.bodyType,
							{	'attr' :
								{
									'class' : 'btn  dropdown-toggle btn-costume',
									'id' : 'dropdownMenu2',
									'data-toggle' : 'dropdown',
									'aria-haspopup' : 'true',
									'aria-expanded' : 'true'
								}
							}) }}
					</li>
					<li class="li-category">
						{{ form_widget(searchForm.engineSize,
							{	'attr' :
								{
									'class' : 'btn  dropdown-toggle btn-costume',
									'id' : 'dropdownMenu2',
									'data-toggle' : 'dropdown',
									'aria-haspopup' : 'true',
									'aria-expanded' : 'true'
								}
							}) }}
					</li>
					<li class="li-search"> <button class="searchbutton" type="submit"><span class="glyphicon glyphicon-search "></span></button></li>
				</ul>
 
			</div>
			{{ form_end(searchForm) }}
		</nav>
	</div>
</div>
<!-- ____________________Featured Section ______________________________--> 
<div class="allcontain">
	<div class="feturedsection">
		<h1 class="text-center"><span class="bdots">&bullet;</span>L A T E S T<span class="carstxt">A R T I C L E S</span>&bullet;</h1>
	</div>
	<div class="feturedimage">
		<div class="row firstrow">
			<div class="col-lg-6 costumcol colborder1">
				<div class="row costumrow">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 img1colon">
						<img src="{{ '/image/' ~ image1 }}" height="350" width="350">
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 txt1colon ">
						<div class="featurecontant">
							<h1>{{ name1 }}</h1>
							<p>{{ title1 }} </p>
			 				<h2>{{ user1 }}</h2>
			 				<button id="btnRM" onclick="rmtxt()">READ MORE</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 costumcol colborder2">
				<div class="row costumrow">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 img2colon">
						<img src="{{ '/image/' ~ image2 }}" height="350" width="350">
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 txt1colon ">
						<div class="featurecontant">
							<h1>{{ name2 }}</h1>
							<p>{{ title2 }} </p>
							<h2>{{ user2 }}</h2>
			 				<button id="btnRM2">READ MORE</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- ________________________LATEST CARS SECTION _______________________-->
<div class="latestcars">
	<h1 class="text-center">&bullet; LATEST   CARS &bullet;</h1>
	<ul class="nav nav-tabs navbar-left latest-navleft">
		<li role="presentation" class="li-sortby"><span class="sortby">SORT BY: </span></li>
		<li data-filter=".RECENT" role="presentation"><a href="#mostrecent" class="prcBtnR">MOST RECENT </a></li>
		<li  role="presentation"><a href="#" class="alphSort">ALPHABETICAL </a></li>
		<li id="hideonmobile">
	</ul>
</div>
<br>
<br>
<!-- ________________________Latest Cars Image Thumbnail________________-->
	<div class="grid">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<div class="txthover">
					<img src="{{ '/image/' ~ image1 }}" >
						<div class="txtcontent">
							<div class="stars">
								<div class="glyphicon glyphicon-star"></div>
								<div class="glyphicon glyphicon-star"></div>
								<div class="glyphicon glyphicon-star"></div>
							</div>
							<div class="simpletxt">
								<h3 class="name">{{ name1 }}</h3>
	 							<button>READ MORE</button><br>
							</div>
						</div>
				</div>	 
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
				<div class="txthover">
					<img src="{{ '/image/' ~ image2 }}" >
						<div class="txtcontent">
							<div class="stars">
								<div class="glyphicon glyphicon-star"></div>
								<div class="glyphicon glyphicon-star"></div>
								<div class="glyphicon glyphicon-star"></div>
							</div>
							<div class="simpletxt">
								<h3 class="name">{{ name2 }}</h3>
	 							<button>READ MORE</button><br>
							</div>
						</div>
				</div>	 
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<div class="txthover">
					<img src="{{ '/image/' ~ image3 }}" >
						<div class="txtcontent">
							<div class="stars">
								<div class="glyphicon glyphicon-star"></div>
								<div class="glyphicon glyphicon-star"></div>
								<div class="glyphicon glyphicon-star"></div>
							</div>
							<div class="simpletxt">
								<h3 class="name">{{ name3 }}</h3>
	 							<button>READ MORE</button><br>
							</div>
						</div>
				</div>	 
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<div class="txthover">
					<img src="{{ '/image/' ~ image4 }}">
						<div class="txtcontent">
							<div class="stars">
								<div class="glyphicon glyphicon-star"></div>
								<div class="glyphicon glyphicon-star"></div>
								<div class="glyphicon glyphicon-star"></div>
							</div>
							<div class="simpletxt">
								<h3 class="name">{{ name4 }}</h3>
	 							<button>READ MORE</button><br>
							</div>
						</div>
				</div>	 
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<div class="txthover">
					<img src="{{ '/image/' ~ image5 }}">
						<div class="txtcontent">
							<div class="stars">
								<div class="glyphicon glyphicon-star"></div>
								<div class="glyphicon glyphicon-star"></div>
								<div class="glyphicon glyphicon-star"></div>
							</div>
							<div class="simpletxt">
								<h3 class="name">{{ name5 }}</h3>
	 							<button>READ MORE</button><br>
							</div>
						</div>
				</div>	 
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<div class="txthover">
					<img src="{{ '/image/' ~ image6 }}">
						<div class="txtcontent">
							<div class="stars">
								<div class="glyphicon glyphicon-star"></div>
								<div class="glyphicon glyphicon-star"></div>
								<div class="glyphicon glyphicon-star"></div>
							</div>
							<div class="simpletxt">
								<h3 class="name">{{ name6 }}</h3>
	 							<button>READ MORE</button><br>
							</div>
						</div>
				</div>	 
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<div class="txthover">
					<img src="{{ '/image/' ~ image7 }}">
						<div class="txtcontent">
							<div class="stars">
								<div class="glyphicon glyphicon-star"></div>
								<div class="glyphicon glyphicon-star"></div>
								<div class="glyphicon glyphicon-star"></div>
							</div>
							<div class="simpletxt">
								<h3 class="name">{{ name7 }}</h3>
	 							<button>READ MORE</button><br>
							</div>
						</div>
				</div>	 
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<div class="txthover">
					<img src="{{ '/image/' ~ image8 }}">
						<div class="txtcontent">
							<div class="stars">
								<div class="glyphicon glyphicon-star"></div>
								<div class="glyphicon glyphicon-star"></div>
								<div class="glyphicon glyphicon-star"></div>
							</div>
							<div class="simpletxt">
								<h3 class="name">{{ name8 }}</h3>
	 							<button>READ MORE</button><br>
							</div>
						</div>
				</div>	 
			</div>	
		</div>
	</div>
	{% if news is empty %}
<!-- _______________________________News Letter ____________________-->
	<div class="newslettercontent">
		<div class="leftside">
			<img src="image/border.png" alt="border">
			<h1>NEWSLETTER</h1>
			<p>Subscribe to the COLLECTIONCARS mailing list to <br>
				receive updates on new arrivals, special offers <br>
				and other discount information.</p>
		</div>
		{{ form_start(newsForm) }}
		<div class="rightside">
			<img class="newsimage" src="image/newsletter.jpg" alt="newsletter">
			{{ form_widget(newsForm.email,
				{	'attr' :
					{
					'class' : 'form-control',
					'id' : 'subemail',
					'placeholder' : 'EMAIL'
					}
				}) }}
			<button type="submit">SUBSCRIBE</button>
		</div>
		{{ form_end(newsForm) }}
	</div>
	{% endif %}
	{% endblock %}